<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Andryck Rodgers</h1>
        <p>Dedicated and computer literate second-year undergraduate student pursuing a BSc in Computer Science
            with proficiency in Python, Java, HTML &amp; CSS, JavaScript, PHP and MySQL. Highly proficient in all aspects of
            Microsoft Office Suite, while possessing excellent communication (both written and oral) along with
            exceptional problem-solving skills and technical competence.</p>
    </body>
</html>